<a href="https://colab.research.google.com/github/vermaatul9565/Projects/blob/master/emotion_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
df=pd.read_csv("text_emotion.csv")     # reading csv file
df.head()

     tweet_id  ...                                            content
0  1956967341  ...  @tiffanylue i know  i was listenin to bad habi...
1  1956967666  ...  Layin n bed with a headache  ughhhh...waitin o...
2  1956967696  ...                Funeral ceremony...gloomy friday...
3  1956967789  ...               wants to hang out with friends SOON!
4  1956968416  ...  @dannycastillo We want to trade with someone w...

[5 rows x 4 columns]

In [0]:
df_drop=df.drop(['tweet_id','author'],axis=1) ### droping'tweet_id'&'author'columns from data frame'df'
df_drop.head()

    sentiment                                            content
0       empty  @tiffanylue i know  i was listenin to bad habi...
1     sadness  Layin n bed with a headache  ughhhh...waitin o...
2     sadness                Funeral ceremony...gloomy friday...
3  enthusiasm               wants to hang out with friends SOON!
4     neutral  @dannycastillo We want to trade with someone w...

In [0]:
for i in range(10):
  print(i,' ',df.sentiment[i],'-> ',df.content[i])

0   empty ->  @tiffanylue i know  i was listenin to bad habit earlier and i started freakin at his part =[
1   sadness ->  Layin n bed with a headache  ughhhh...waitin on your call...
2   sadness ->  Funeral ceremony...gloomy friday...
3   enthusiasm ->  wants to hang out with friends SOON!
4   neutral ->  @dannycastillo We want to trade with someone who has Houston tickets, but no one will.
5   worry ->  Re-pinging @ghostridah14: why didn't you go to prom? BC my bf didn't like my friends
6   sadness ->  I should be sleep, but im not! thinking about an old friend who I want. but he's married now. damn, &amp; he wants me 2! scandalous!
7   worry ->  Hmmm. http://www.djhero.com/ is down
8   sadness ->  @charviray Charlene my love. I miss you
9   sadness ->  @kelcouch I'm sorry  at least it's Friday?

In [0]:
df_drop.describe()

       sentiment       content
count       9443          9443
unique        13          9429
top        worry  work all day
freq        2952             2

In [0]:

df_drop.sentiment.unique().   ### types of sentiment present

SyntaxError: ignored

In [0]:
line=df_drop['content'].values.tolist()
all_content=list()
for text in line:
    text=text.lower()#converting all charectrers in lower case
    pattern=re.compile('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-f][0-9a-fA-F]))+')
    text=pattern.sub("",text)#removing *https://* like links
    all_content.append(text)
for i in range(len(all_content)):
    print(i,' ',df.sentiment[i],'-> ',all_content[i])

In [0]:
print('test')